{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  body {
    background-color: #f8f9fa;
  }

  .card {
    margin-top: 50px;
    width: auto;
    max-width: 100%;
    /* Adjust the maximum width as needed */
    margin-left: auto;
    margin-right: auto;
    height: calc(80vh - 100px);
  }

  .card-header {
    background-color: #007bff;
    color: #ffffff;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  label {
    font-weight: bold;
    /* Make the label bold */
    padding: 5px;
  }
</style>

<div class="card">
  <div class="card-header">
    Purchase Orders
  </div>

    <div class="card-body">
      <h2>Delete {{ purchase_invoices }}</h2>
      <form method="post" action="{% url 'purchase-delete' purchase_invoices.pk %}">
          {% csrf_token %}
          <p>Are you sure you want to delete {{ purchase_invoices }}?</p>
          <button type="submit" class="btn btn-danger">Confirm</button>
          <a href="{% url 'purchase-invoices' %}" class="btn btn-secondary">Cancel</a>
      </form>
    
    </div>
</div>

{% endblock %}